@import "~@blueprintjs/core/lib/scss/variables";

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bp3-dark {
  background-color: $dark-gray5;
}

main {
  height: 100%;
  overflow: auto;
}

#editor-pane {
  float: left;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#runtime-pane {
  block: inline-block;
  float: right;
  width: 30%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  ul {
    padding-left: 1.5rem;
  }
}

.editor-status {
  padding: 0.4rem 0 0.4rem 0.8rem;
  font-size: 0.8rem;
}

.cursor-status-tooltip {
  float: right;
  margin-left: 0.6rem;
}

.status-container {
  display: flex;
  flex-direction: row;
  .status-description {
    padding-right: 1rem;
    margin-right: auto;
  }
}

.status-tag {
  margin-right: 0.5rem;
}

.console-container {
  padding: 0.3rem 0rem 0.8rem 0.8rem;
  pre {
    margin: 0;
  }
  pre.console {
    height: 400px;
    overflow: auto;
    line-height: 1.35rem;
  }
  .log-tag {
    float: right;
    min-height: 12px;
    min-width: 68px;
    text-align: center;
    line-height: 12px;
    margin-left: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .log-pin {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }
  .log-context {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

.sep {
  margin-top: 1rem;
}

.sep-small {
  margin-top: 0.5rem;
}

.dev-type {
  padding: 5px 0;
  display: inline-block;
  line-height: 1rem;
}

.dev-show-param {
  float: right;
}

.dev-icon {
  margin-right: 0.5rem;
}

.dev-id {
  display: flex;
}

.monospace {
  font-family: monospace;
  font-size: 0.9rem;
}

.dev-name {
  width: 50%;
  @extend .monospace;
}

.dev-uid {
  margin-left: auto;
}

.tooltip-content {
  max-width: 300px;
  margin: 0;
}

.bp3-callout > p:last-child {
  margin-bottom: 0;
}

.settings {
  min-width: 40rem;
}

.private-key {
  min-height: 32rem;
  overflow-x: auto;
}

.keybindings, .keybinding, .entity-table {
  width: 100%;
}

.entity-table {
  overflow-x: auto;
  td {
    padding: 0.4rem !important;
    vertical-align: middle !important;
  }
  .empty-row {
    padding: 0.8rem !important;
    text-align: center !important;
  }
}

.keybinding {
  font-family: monospace;
}

.error-boundary {
  padding: 1rem;
  p {
    font-size: 16px;
  }
  .quit {
    margin-bottom: 1rem;
  }
}

.form-group {
  label.bp3-label {
    margin-bottom: 0.5rem;
  }
}

.bp3-tab-panel {
  flex: 1;
}

#ip-addr {
  max-width: 24rem;
}

.slider {
  max-width: 90%;
  margin: 0.5rem auto;
}
