[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.9'
platform_system = 'Linux'

[packages]
cbor2 = '~=5.2'
click = '~=8.0'
colorama = '~=0.4'
orjson = '~=3.5'
pylint = '~=2.8'
pyserial-asyncio = '~=0.5'
pyudev = {version = '~=0.22', platform_system = '== "Linux"'}
pyzmq = '~=22.0'
structlog = '~=21.1'
uvloop = '~=0.15'
PyYAML = '~=5.4'

[dev-packages]
black = '~=21.5b'
Cython = '~=3.0a'
mypy = '~=0.902'
pytest = '~=6.2'
pytest-asyncio = '~=0.15'
pytest-cov = '~=2.11'
pytest-mock = '~=3.6'
pyenchant = '~=3.2'
sphinx = '~=3.5'
sphinx-autobuild = '~=2020.9'
sphinx-rtd-theme = '~=0.5'
sphinxcontrib-tikz = '~=0.4'
types-PyYAML = '~=0.1'
types-orjson = '~=0.1'

[scripts]
build = 'python setup.py build_ext --inplace'
clean = 'sh -c "rm -rf build runtime/*.cpython-*.so runtime/*.c runtime/*.cpp"'
client = """python -m runtime
  --debug
  --log-format pretty
  client
"""
dev = """python -m runtime
  --debug
  --log-format pretty
  server
"""
prod = 'python -m runtime server'
emulate = """python -m runtime
  --debug
  --log-format pretty
  emulate-dev
"""
pager = """python -m runtime
  --debug
  --log-format pretty
  log-pager
"""
servedocs = 'make --directory=docs livehtml'
typecheck = 'mypy --strict --implicit-reexport runtime'
lint = """bash -c '
pylint runtime;
pylint \\
  --disable=redefined-outer-name \\
  --disable=missing-module-docstring \\
  --disable=missing-class-docstring \\
  --disable=missing-function-docstring \\
  tests/*.py
'"""
fasttest = 'pytest -m "not slow"'
test = 'pytest -v'
format = """bash -c '
black --color --target-version py39 --skip-string-normalization runtime stubs tests/*.py &&
isort --profile black runtime stubs tests/*.py
'"""

[pipenv]
allow_prereleases = true
