@import '~@blueprintjs/core/lib/scss/variables';

body {
  margin: 0;
}

#navbar-tabs {
  .bp3-tab {
    line-height: $pt-navbar-height;
  }
}

main {
  max-width: 1200px;
  margin: 1rem auto;
}

.container {
  display: flex;
  justify-content: space-between;
  .blue.alliance > * {
    // color: $blue1 !important;
  }
  .alliance {
    margin: 0 1rem;
    flex: 2;
    text-align: center;
  }
  .timer {
    margin: 0 1rem;
    flex: 3;
    text-align: center;
    .timer-label {
      position: absolute;
      top: 220px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .column {
    flex: 1;
    margin-right: 1rem;
  }
}

.callout-message {
  margin: 0;
}

#username-label {
  margin-right: 1rem;
}

.entity-table {
  width: 100%;
  .sort-button {
    margin-left: 0.5rem;
    padding: 0 5px !important;
    min-height: 24px;
    min-width: 24px;
  }
  td {
    white-space: nowrap;
    padding: 0.6rem !important;
    vertical-align: middle !important;
  }
  .empty-row {
    text-align: center !important;
  }
}

table {
  label.bp3-control.bp3-checkbox {
    margin: 0;
  }
}

.blue.win,
.blue.alliance,
.blue.bg {
  background-color: $blue5 !important;
}

.gold.win,
.gold.alliance,
.gold.bg {
  background-color: $gold5 !important;
}

.tie {
  background-color: $gray5 !important;
}

td.score {
  padding: 0 !important;
  div {
    padding: 0.6rem;
  }
}

// FIXME: margin when editing cell (height not 100%)
$stripe-size: 0.5rem;

$stripe-colors: (
  '.blue.win': $blue4,
  '.gold.win': $gold4,
  '.tie': $gray4,
);

@each $name, $color in $stripe-colors {
  #{$name} > .current {
    background: repeating-linear-gradient(
      -45deg,
      transparent 0 $stripe-size,
      #{$color} $stripe-size 2 * $stripe-size
    ) !important;
  }
}

.score-icon {
  margin-right: 0.4rem;
}

.alliance-heading {
  text-align: center !important;
}

.spacer {
  margin-top: 1rem !important;
}

.control-bar {
  display: inline-flex;
  .bp3-form-group {
    margin-right: 1rem;
  }
}

.no-match {
  margin: 1rem 0;
}
