#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  height: 100%;
}
.editor {
  block: inline-block;
  float: left;
  width: 70%;
  height: 100%;
}
.peripherals {
  block: inline-block;
  float: right;
  width: 30%;
  height: 100%;
  padding: 0.5rem;
  border-left: solid 1px #ddd;
}
.console {
  padding: 0.3rem 0.8rem;;
  border-top: solid 1px #ddd;
}
